In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("C:/Users/Abdulmalik Lasisi/Downloads/UserData (2).csv")

In [3]:
data.head(2)

,PreferredSponsors,Gender,Country,Degree,Sign Up Date,city,zip,isFromSocialMedia
0,"[""GlobalShala"",""Grant Thornton China"",""Saint L...",Male,Nigeria,Undergraduate Student,2023-07-23T08:05:58.602Z,Owerri,460103,False
1,"[""GlobalShala"",""Grant Thornton China"",""Saint L...",Male,India,Undergraduate Student,2023-04-24T09:57:07.405Z,kottayam,686501,False

In [5]:
check_null = data.isnull().mean()*100
print(round(check_null, 2))

PreferredSponsors     0.00
Gender               34.59
Country               0.22
Degree               39.23
Sign Up Date          0.00
city                 34.59
zip                  34.63
isFromSocialMedia     0.03
dtype: float64

In [6]:
check_null = data.isnull().mean() * 100
print(round(check_null, 2))

PreferredSponsors     0.00
Gender               34.59
Country               0.22
Degree               39.23
Sign Up Date          0.00
city                 34.59
zip                  34.63
isFromSocialMedia     0.03
dtype: float64

In [20]:
data.dropna(subset=['Gender', 'Degree', 'city', 'zip'], inplace=True)
check_null = data.isnull().mean()*100
print(round(check_null, 2))

PreferredSponsors    0.0
Gender               0.0
Country              0.0
Degree               0.0
Sign Up Date         0.0
city                 0.0
zip                  0.0
isFromSocialMedia    0.0
dtype: float64

In [87]:
total_signups = data.shape[0]  # Total number of rows in the DataFrame
print(total_signups)

27562

In [90]:
# Group by month and count sign-ups
monthly_signups = data.groupby(data['Sign Up Date'].dt.to_period('M')).size()

# Calculate average sign-up rate per month
average_signup_rate = monthly_signups.mean()
print(average_signup_rate)

1621.2941176470588

In [22]:
data.head(5)

,PreferredSponsors,Gender,Country,Degree,Sign Up Date,city,zip,isFromSocialMedia
0,"[""GlobalShala"",""Grant Thornton China"",""Saint L...",Male,Nigeria,Undergraduate Student,23-07-2023 08:05:58,Owerri,460103,False
1,"[""GlobalShala"",""Grant Thornton China"",""Saint L...",Male,India,Undergraduate Student,24-04-2023 09:57:07,kottayam,686501,False
4,"[""GlobalShala"",""Grant Thornton China"",""Saint L...",Female,Ghana,Not in Education,15-06-2023 16:31:42,Kumasi,AT-1214-9090,False
8,"[""GlobalShala"",""Grant Thornton China"",""Saint L...",Male,Nigeria,Undergraduate Student,27-07-2023 18:02:17,Lagos,100278,True
9,"[""GlobalShala"",""Grant Thornton China"",""Saint L...",Male,India,High School Student,05-05-2023 04:47:25,RAS,388570,True

In [24]:
duplicates = data.duplicated()
if duplicates.any():
    print("Duplicate rows:")
    print(data[duplicates])
else:
    print("No duplicate rows found.")

No duplicate rows found.

In [73]:
import pandas as pd

# Convert 'Sign Up Date' to datetime and remove timezone information
data["Sign Up Date"] = pd.to_datetime(data["Sign Up Date"]).dt.tz_localize(None)

# Extract the month and year from 'Sign Up Date'
data['Sign Up Month'] = data["Sign Up Date"].dt.to_period("M")

# Group by the 'Sign Up Month' and count the number of participants
monthly_signups = data.groupby("Sign Up Month").size()

# Sort the counts in descending order and get the top 5 months
top_5_months = monthly_signups.sort_values(ascending=False).head(5)

print(top_5_months)

Sign Up Month
2023-06    7933
2023-07    4453
2023-08    3010
2023-05    2373
2023-03    2026
Freq: M, dtype: int64

In [76]:
data["Sign Up Date"] = pd.to_datetime(data["Sign Up Date"], format = "%d-%m-%Y %H:%M:%S")
data["Bottom 5 Sign Up Month"] = data["Sign Up Date"].dt.to_period("M")
monthsignups = data.groupby("Bottom 5 Sign Up Month").size()
bottom_5_signups = monthsignups.sort_values(ascending = True).head(5)
print(bottom_5_signups)

Bottom 5 Sign Up Month
2022-05      2
2023-11    241
2022-12    285
2023-01    459
2022-11    555
Freq: M, dtype: int64

In [97]:
data['Sign Up Date'] = pd.to_datetime(data['Sign Up Date'], format='%d-%m-%Y %H:%M:%S')

# Group by month and count sign-ups
monthly_signups = data.groupby(data['Sign Up Date'].dt.to_period('M')).size().reset_index(name='Sign Ups')

# Calculate the percentage increase
monthly_signups['Previous Sign Ups'] = monthly_signups['Sign Ups'].shift(1)
monthly_signups['Percentage Increase'] = ((monthly_signups['Sign Ups'] - monthly_signups['Previous Sign Ups']) / monthly_signups['Previous Sign Ups']) * 100

# Display the result
print(monthly_signups[['Sign Up Date', 'Sign Ups']].to_string(index= False))

Sign Up Date  Sign Ups
     2022-05         2
     2022-08       614
     2022-09       915
     2022-10       945
     2022-11       555
     2022-12       285
     2023-01       459
     2023-02       602
     2023-03      2026
     2023-04      1444
     2023-05      2373
     2023-06      7933
     2023-07      4453
     2023-08      3010
     2023-09       953
     2023-10       752
     2023-11       241

Monthly Gender Distribution:
Gender     Don't want to specify  Female  Male  Other
YearMonth
2022-05                        0       1     0      0
2022-08                        3     132   220      0
2022-09                        7     229   358      1
2022-10                        2     210   384      1
2022-11                        0      97   178      1
2022-12                        1      62    94      0
2023-01                        3     130   205      0
2023-02                        5     143   199      0
2023-03                        2     484   647      2
2023-04                        8     347   653      1
2023-05                        3     702   954      1
2023-06                       19    1721  3046      6
2023-07                       14    1272  1991      1
2023-08                        6     823  1281      1
2023-09                        1     278   420      0
2023-10                        1     223   295      0
2023-11                        0      56   102      0

Monthly Major Distribution:
Degree     Graduate Program Student  High School Student  Not in Education  \
YearMonth
2022-05                           0                    0                 0
2022-08                          98                   60                40
2022-09                         161                  182                78
2022-10                         219                   96               108
2022-11                          45                  135                25
2022-12                          45                   30                25
2023-01                         103                   65                39
2023-02                          98                   68                35
2023-03                         228                  159               121
2023-04                         325                  102                91
2023-05                         497                  148               161
2023-06                        1460                  229               854
2023-07                        1164                  133               615
2023-08                         906                   72               307
2023-09                         352                   38                62
2023-10                         250                   41                58
2023-11                          64                    4                27

Degree     Undergraduate Student
YearMonth
2022-05                        1
2022-08                      117
2022-09                      138
2022-10                      151
2022-11                       62
2022-12                       44
2023-01                      117
2023-02                      132
2023-03                      515
2023-04                      425
2023-05                      707
2023-06                     1705
2023-07                     1237
2023-08                      740
2023-09                      224
2023-10                      157
2023-11                       55

In [56]:
unique_genders = data["Gender"].value_counts().reset_index()
unique_genders.columns = ["Gender", "Number of Participants"]
print(unique_genders.to_string(index = False))

               Gender  Number of Participants
                 Male                   11027
               Female                    6910
Don't want to specify                      75
                Other                      15

In [58]:
level_education = data["Degree"].value_counts().reset_index()
level_education.columns = ["Degree", "Number of Participants"]
print(level_education.to_string(index = False))

                  Degree  Number of Participants
   Undergraduate Student                    6527
Graduate Program Student                    6015
        Not in Education                    2646
     High School Student                    1562

In [59]:
countries = data["Country"].value_counts().reset_index()
countries.columns = ["Country", "Number of Participants"]

In [61]:
top_5_countries = countries.nlargest(6, "Number of Participants")
print(top_5_countries.to_string(index = False))

      Country  Number of Participants
        India                   11893
      Nigeria                    4357
United States                    3691
     Pakistan                    1928
        Ghana                    1124
        Egypt                     897

In [68]:
signup_method = data["isFromSocialMedia"].value_counts().reset_index()
signup_method.columns = ["isFromSocialMedia", "Number of Participants"]

social_media_summary = pd.DataFrame({
    "SocialMediaType": signup_method["isFromSocialMedia"].map({True: "From Social Media", False: "Not From Social Media"}),
    "Number of Participants": signup_method["Number of Participants"]
})


total_participants = social_media_summary["Number of Participants"].sum()

# Extract counts for "From Social Media" and "Not From Social Media"
from_social_media_count = social_media_summary[social_media_summary["SocialMediaType"] == "From Social Media"]["Number of Participants"].sum()
not_from_social_media_count = social_media_summary[social_media_summary["SocialMediaType"] == "Not From Social Media"]["Number of Participants"].sum()

# Calculate percentage
percentage_value_for = (from_social_media_count / total_participants) * 100
percentage_value_not = (not_from_social_media_count / total_participants) * 100

# Display the results
print(f'Percentage of participants from social media: {percentage_value_for:.2f}%')
print(f'Percentage of participants not from social media: {percentage_value_not:.2f}%')

Percentage of participants from social media: 57.14%
Percentage of participants not from social media: 42.86%

In [8]:
data.isnull().sum()

PreferredSponsors        0
Gender                9535
Country                 62
Degree               10812
Sign Up Date             0
city                  9534
zip                   9544
isFromSocialMedia        9
dtype: int64

In [13]:
regional_engagement_metrics = data.groupby("Country")["PreferredSponsors"].count()
# high regional metrics 
high_regional = regional_engagement_metrics.nlargest(6)
low_regional = regional_engagement_metrics.nsmallest(6)

# Gender
gender_engagement_metrics = data.groupby("Country")["Gender"].value_counts()

# Degree
degree_engagement_metrics = data.groupby("Country")["Degree"].value_counts()

# socialmedia 
socialmedia_engagement_metrics = data.groupby("Country")["isFromSocialMedia"].value_counts()
# city
city_engagement_metrics = data.groupby("city")["PreferredSponsors"].count()
# high cities
high_city = city_engagement_metrics.nlargest(6)
low_city = city_engagement_metrics.nsmallest(6)

# print everying
print(f"High regional countries{high_regional}")
print(f"low regional countries{low_regional}")
print(f"high city countries{high_city}")
print(f"low city countries{low_city}")
print(f"Social media engagements{socialmedia_engagement_metrics}")
print(f"Gender engagements{gender_engagement_metrics}")
print(f"Degree engagements{degree_engagement_metrics}")

High regional countriesCountry
India            11893
Nigeria           4357
United States     3691
Pakistan          1928
Ghana             1124
Egypt              897
Name: PreferredSponsors, dtype: int64
low regional countriesCountry
Antigua and Barbuda         1
Bahrain                     1
Barbados                    1
Bulgaria                    1
Central African Republic    1
Comoros                     1
Name: PreferredSponsors, dtype: int64
high city countriescity
Hyderabad      743
Saint Louis    469
Lagos          450
Accra          336
Chicago        318
Pune           268
Name: PreferredSponsors, dtype: int64
low city countriescity
ABEOKUTA       1
ABLEKUMA       1
ABak           1
ACHALPUR       1
ADDIS ABABA    1
ADO            1
Name: PreferredSponsors, dtype: int64
Social media engagementsCountry        isFromSocialMedia
Afghanistan    True                 132
               False                 15
Aland Islands  True                  50
               False                  2
Albania        True                  29
                                   ...
Yemen          True                   1
Zambia         True                  26
               False                 13
Zimbabwe       False                 16
               True                  11
Name: count, Length: 290, dtype: int64
Gender engagementsCountry        Gender
Afghanistan    Male      18
               Female     8
Aland Islands  Female     1
Albania        Male       3
               Female     1
                         ..
Yemen          Male       2
Zambia         Male      15
               Female     9
Zimbabwe       Male       7
               Female     6
Name: count, Length: 249, dtype: int64
Degree engagementsCountry      Degree
Afghanistan  Undergraduate Student       9
             Not in Education            6
             Graduate Program Student    2
Albania      Graduate Program Student    1
             Not in Education            1
                                        ..
Zambia       High School Student         1
Zimbabwe     Not in Education            6
             Graduate Program Student    4
             High School Student         2
             Undergraduate Student       2
Name: count, Length: 315, dtype: int64

In [21]:
# Analyze distribution of factors against country
gender_vs_country = data.groupby(["Country", "Gender"]).size().reset_index(name="Count")
degree_vs_country = data.groupby(["Country", "Degree"]).size().reset_index(name="Count")
social_media_vs_country = data.groupby(["Country", "isFromSocialMedia"]).size().reset_index(name="Count")
sponsor_vs_country = data.groupby(["Country", "PreferredSponsors"]).size().reset_index(name="Count")

           Country  Gender  Count
0      Afghanistan  Female      8
1      Afghanistan    Male     18
2    Aland Islands  Female      1
3          Albania  Female      1
4          Albania    Male      3
..             ...     ...    ...
244          Yemen    Male      2
245         Zambia  Female      9
246         Zambia    Male     15
247       Zimbabwe  Female      6
248       Zimbabwe    Male      7

[249 rows x 3 columns]